<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="adresse3liz.com" name="adresse" createdate="2020-02-11">
        <version date="2022-02-22">1.0.0</version>
        <label lang="en_US">adresse</label>
        <description lang="en_US" />
        <license URL="">Mozilla Public Licence (MPL)</license>
        <copyright>2020-2021 3liz</copyright>
        <creator name="your name" email="your-email@yourwebsite.undefined" />
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined"  since="" role=""/>-->
        <homepageURL>http://3liz.com</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.6.26" maxversion="1.6.*"/>
        <module name="lizmap" minversion="3.4.8" maxversion="3.*"/>
    </dependencies>
</module>
