<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="adresse3liz.com" name="adresse" createdate="2020-02-11">
        <version date="2024-01-18">1.1.4</version>
        <label lang="en_US">adresse</label>
        <description lang="en_US" />
        <license URL="">Mozilla Public Licence (MPL)</license>
        <copyright>2020-2023 3liz</copyright>
        <creator name="your name" email="your-email@yourwebsite.undefined" />
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined"  since="" role=""/>-->
        <homepageURL>http://3liz.com</homepageURL>
    </info>
    <dependencies>
        <module name="lizmap" minversion="3.4.8" maxversion="3.6.*"/>
    </dependencies>
    <autoload>
        <class name="adresseSearch" file="lib/adresseSearch.php"/>
        <class name="adresseCheck" file="lib/adresseCheck.php"/>
        <class name="Adresse" file="lib/Adresse.php"/>
        <class name="exportDoc" file="lib/exportDoc.php"/>
    </autoload>
</module>
